data
.gitignore~
**/MNIST
#MNIST/data
#MNIST/mnist_boxplot
#MNIST/MNIST_FIGURES_Apr_30_2023
#MNIST/__pycache__
#MNIST/.ipynb_checkpoints
**/pneumonia_data
#pneumonia_data/Figures_repulsion_strengh
#pneumonia_data/pneu_fig_boxplot
#pneumonia_data/Pneumonia_FIGURES
#pneumonia_data/Pneumonia_FIGURES_30_Apr_2023
#pneumonia_data/.ipynb_checkpoints
#pneumonia_data/__pycache__
**/0-Shortness_of_Breath
#clinical_data/0-Shortness_of_Breath/short_box_plots
#clinical_data/0-Shortness_of_Breath/Shortness
#clinical_data/0-Shortness_of_Breath/__pycache__
#clinical_data/0-Shortness_of_Breath/.ipynb_checkpoints
**/1-Abdominal_Pain
#clinical_data/1-Abdominal_Pain/Abdominal_Figure
#clinical_data/1-Abdominal_Pain/.ipynb_checkpoints
